.Products {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.Products li {
  display: flex;
  border-radius: 3px;
  margin: 1em;
  padding: 1em;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  background-color: #E8EEF2;

}
.Products li > * {
  margin-right: 10px;
}
.Products button {
  border: none;
  border-radius: 3px;
  background-color: #5386E4;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 110%;
  transition: ease .2s;
}
.Products button:hover {
  background-color: #29339B;
  cursor: pointer;
}
